<h2>Relat贸rios</h2>
<%= form_tag("/reports", method: "post") do %>
  <%= submit_tag("Gerar Novo") %>
<% end %>
<div>
  <h3>Relat贸rios Alta Proridade</h3>
  <ol> 
    <% @default_reports.each do |report| %> 
      <div id="list_reports">
        <li><%= link_to(report.address.split('/').last, "reports/default/#{report.address.split('/').last}", target: "_blank") %> </li>
        <ul>
          <li><%= link_to 'Deletar Relat贸rio', report_path(report), method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul> <br>
      </div>
    <% end %>
  </ol>
</div>
<div>
  <h3>Relat贸rios Baixa Proridade</h3>
  <ol> 
    <% @low_priority_reports.each do |report| %>
      <div>
        <li><%= link_to(report.address.split('/').last, "/reports/low_priority/#{report.address.split('/').last}", target: "_blank") %></li> <br>
      </div>
    <% end %>
  </ol>
</div>
<div>
  <h3>Fila</h3>
  <ol> 
    <% @reports.each do |report| %> 
      <li><%= report.report_type %> </li>
    <% end %>
  </ol>
</div>
<hr>