<h2>Relatórios</h2>
<div>
  <%= form_tag("/reports", method: "post") do %>
    <ul>
      <li><%= submit_tag("Gerar Novo") %></li>
    </ul>
  <% end %>
</div>
<div>
  <ul>
    <li><%= button_to 'Deletar todos os Relatórios', destroy_all_reports_path, method: :delete, data: { confirm: 'Are you sure?' } %></li>
  </ul>
</div>
<div>
  <h3>Relatórios Alta Prioridade</h3>
  <ol> 
    <% @critical_reports.each do |report| %> 
      <div id="list_critical_reports">
        <% if report.success? %>
          <li><%= link_to(report.address.split('/').last, "reports/default/#{report.address.split('/').last}", target: "_blank") %> </li>
        <% elsif report.failure? %>
          <li>FALHA</li>
        <% end %>
        <ul>
          <li><%= link_to 'Deletar Relatório', report_path(report), method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul> <br>
      </div>
    <% end %>
  </ol>
</div>
<div>
  <h3>Relatórios Proridade Padrao</h3>
  <ol> 
    <% @default_reports.each do |report| %> 
      <div id="list_reports">
        <% if report.success? %>
          <li><%= link_to(report.address.split('/').last, "reports/default/#{report.address.split('/').last}", target: "_blank") %> </li>
        <% elsif report.failure? %>
          <li>FALHA</li>
        <% end %>
        <ul>
          <li><%= link_to 'Deletar Relatório', report_path(report), method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul> <br>
      </div>
    <% end %>
  </ol>
</div>
<div>
  <h3>Relatórios Baixa Proridade</h3>
  <ol> 
    <% @low_priority_reports.each do |report| %>
      <div id="list_low_reports">
        <% if report.success? %>
          <li><%= link_to(report.address.split('/').last, "/reports/low_priority/#{report.address.split('/').last}", target: "_blank") %></li>
        <% elsif report.failure? %>
          <li>FALHA</li>
        <% end %>
        <ul>
          <li><%= link_to 'Deletar Relatório', report_path(report), method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul> <br>
      </div>
    <% end %>
  </ol>
</div>
<div>
  <h3>Sequencia</h3>
  <ol> 
    <% @reports.each do |report| %> 
      <li><%= report.report_type %> </li>
    <% end %>
  </ol>
</div>
<hr>