<!DOCTYPE html>
<html>
  <head>
    <title>VcrAsyncRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if notice %>
        <div id="notice">
          <h3><%= notice %></h3>
        </div>
      <% end %>
      <% if alert %>
        <div id="alert">
          <h3><%= alert %></h3>
        </div>
      <% end %>
      <br>
      <ul id="headbar">
        <li><%= link_to 'Relatórios', reports_path %></li>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Sidekiq', sidekiq_web_path, target: "_blank" %></li>
      </ul>
      <%= yield %>
    </div>
  </body>
</html>
